In [1]:
# Import all necessary libraries
import pandas as pd
from bs4 import BeautifulSoup as bs
import seaborn as sns
import matplotlib.pyplot as plt

In [13]:
html_doc='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
df = pd.read_html(html_doc)
src = df[0]

In [14]:
src.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [15]:
# remove rows whose 'Borough' column contians 'Not assigned'
df = src[src.Borough != 'Not assigned']
df.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M6A        North York  Lawrence Heights
6      M6A        North York    Lawrence Manor

In [16]:
# value_counts to check number of neighbourhoods present in each Postal code
df.Postcode.value_counts()

M9V    8
M8Y    8
M5V    7
M4V    5
M9B    5
      ..
M3L    1
M7Y    1
M1H    1
M6C    1
M5G    1
Name: Postcode, Length: 103, dtype: int64

In [23]:
# indicates only this record has Neighbourhood 'Not assigned' value
df[df.Neighbourhood == 'Not assigned'].index

Int64Index([9], dtype='int64')

In [28]:
# copy corresponding 'Borough' to 'Neighbourhood'
df.loc[9,'Neighbourhood'] = df.loc[9,'Borough']

c:\users\ranjithbalasubramani\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [31]:
# all Neighbourhood has values other than 'Not assigned'
df[df.Neighbourhood == 'Not assigned']

Empty DataFrame
Columns: [Postcode, Borough, Neighbourhood]
Index: []

In [42]:
# group neighbourhood based on Postal code
df_final = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(','.join).reset_index()

In [43]:
# shape of the final data frame
df_final.shape

(103, 3)